.articles{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 2%;
}

.articles__others{
    display: flex;
    flex-direction: row;
    margin: auto;
}

/* se o estilo altera o posicionamento do elemento na pagina (e não no componente) então é melhor colocar na estilo da pagina em que o componente está localizado */
